.formContainer{
    height: 55vh;
    width: 500px;
    margin: auto;
}

.formContainer p{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 20px;
}

.mainContainer label{
    font-weight: 350;
}

.logo img {
    width: 50px;
    height: 50px;
}

.form input{
    width:100%;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    background-color: rgba(209, 211, 211, 0.584);
    border-top: none;
    border-left: none;
    border-right: none;
}

.flexLogoText{
    display: flex;
    width: 240px;
    align-items: center;
    justify-content: space-between;
    margin-bottom:140px;
}

.flexLogoText h1{
    color: rgb(247,46,46);
}

span{
    color: red;
}



@media screen and (min-width: 1300px) {
  .mainContainer{
        display: grid;
        grid-template-columns: 3fr 2fr;
    }
    .form input{
        font-size: 25px;
        /* width: 90px; */
        /* height: 90px; */
        /* text-align: center; */
        /* outline: none; */
    }

    .form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        /* margin-top: 20px; */
    }

    .Btn{
        width: 100%;
        height: 50px;
        margin-top: 30px;
        background: rgb(247,46,46);
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 20px;
    }
}

@media screen and (min-width: 830px) and (max-width: 1299px){
    .formContainer{
        width: 75%;
        height: 85vh;
        margin: auto;
    }
    .mainContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .form input{
        width:100%;
        height: 50px;
        margin-bottom: 30px;
        font-size: 22px;
    }
}

@media screen and  (max-width: 829px){
    /* .formContainer{
        width: 75%;
        height: 40vh;
        padding-top: 20px ;
    }
    .form input{
        width:100%;
        height: 40px;
        margin-bottom: 15px;
        font-size: 20px;
    }
    .form label{
        font-size: 20px;
    }
    .loginText{
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .form input::placeholder{
        font-size: 16px;
    }
    .login{
        font-size: 18px;
        margin-top: 10px;
    } */
}

.button{
    width: 100%;
    height: 48px;
    font-size: 25px;
    background: rgba(247,46,46);;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}

.button:hover{
    background: rgb(228,229,229);
    color: rgb(247,46,46);;
}


@media screen and (min-width: 680px) and (max-width: 1024px){
    .button{
        height: 45px;
        font-size: 20px;
    }
}

@media screen and (max-width: 681px){
    .button{
    width: 100%;
    height: 40px;
    font-size: 18px;
    }
}
