/* body{
    margin: 0;
    padding: 0;
    background-color: 2995E2;
} */

.main{
    display: flex;
}

.myFormBox{
    width: 520px;
    box-shadow: 0px 0px 4px 1px rgb(197, 195, 195);
    height: 450px;
    border-radius: 5px;
    margin: auto;
    padding: 40px;
}

.myFormBox h1{
    padding-bottom: 30px;
    text-align: center;
}

.divToFlex{
    /* justify-content: center; */
    /* display: flex; */
    /* width: 550px; */
    /* gap: 50px; */
    /* margin-top: 50px; */
}

.divToFlex span{
    color: red;
}

.divToFlex label{
    font-weight: 500;
}

.divToFlex input{
    width: 97%;
    height: 60px;
    border-radius: 5px;
    font-size: 25px;
    padding-left: 15px;
    outline: none;
    border: 1px solid gray;    
}
.submit{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-size: 30px;
    color: white;
    border: none;
    background:rgb(247,46,46);
    border: 1px solid rgb(201, 200, 200); 
    cursor: pointer;
}

.submit:hover{
    background: white;
    color:rgb(247,46,46) ;
}

.input{
    padding-bottom: 30px;
}