.main{
    padding: 40px 100px;
    /* width: 600px;
    height: 500px; */
    margin: auto;
    /* box-shadow: 0px 0px 5px 1px rgb(218, 217, 217); */
}

.flex{
    display: flex;
}

.main p{
    font-size: 25px;
    padding: 40px 0px 30px 0px;
}

.time{
    padding-top: 20px;
}

.message{
    font-size: 25px;
    color: red;
    font-weight: 600;
    text-align: center;
    width: 500px;
    /* margin-left: 75px; */
}

.firstContainer{
    width: 550px;
    height: 350px;
    margin: auto;
    box-shadow: 0px 0px 5px 1px rgb(218, 217, 217);
    text-align: center;
    padding: 40px;
}

.button{
    width: 200px;
    height: 45px;
    background: rgb(247,46,46);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

/* .button:hover{
    color: rgb(247,46,46);
    background: rgb(228, 227, 227);
    font-weight: 800;
} */

/* @media screen and (min-width: 900px){
   .flex{
        display: flex;
    }

}


@media screen and (max-width: 681px){
   .firstContainer{
        width: 350px;
        height: 300px;
        margin: auto;
        box-shadow: 0px 0px 5px 1px rgb(218, 217, 217);
        text-align: center;
        margin-top: -550px;
    }

    .main{
        width: 95vw;
        height: 500px;
    }

    .main h1{
        font-size: 25px;
    }
} */


