.image {
    background-image: url(../../assests/images/timeandattendance.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    /* height: 99.4vh; */
}

.logo {
    display: flex;
    align-items: center;
    width: 250px;
    justify-content: space-between;
    color: white;
    /* margin-left: 17px; */
    /* height: 70px; */
    /* box-shadow: 0 0 2px 1px gray; */
}

.logo img {
    width: 50px;
    height: 50px;
}

.flexLogoText{
    display: flex;
    width: 250px;
    align-items: center;
    padding-top:20px;
    margin-left: 40px;
}

.flexLogoText h1{
    color: rgb(247,46,46);
}


@media screen and  (max-width: 829px){
    .image{
        width: 100%;
        height: 40vh;
    }

    .logo img {
        width: 30px;
        height: 30px;
    }

    .flexLogoText h1{
        font-size: 18px;
    }

    .flexLogoText{
        display: flex;
        width: 140px;
        align-items: center;
        margin-left:50px;
        padding-top: 10px;
    }
}